{% extends 'base/base.html'%}

{%block title%}
buscador
{%endblock%}

{%block section%}
<section class="container ">
  <a style="" href="{% url 'inventario:registro' %}">Agregar celular</a>
  <form class="navbar-form justify1 ban" method="POST" action="/buscar/" >
    {%csrf_token%}
        <div class="form-group col3 panel panel-default ">
          <div class="panel-heading ">
                <h3 class="panel-title">Consultas</h3>
          </div>
          <input class="form-control" placeholder="¿Qué desea buscar?" type="text" name="buscalo">
          <button type="submit" class="btn btn-default">Buscar</button>
          <div class="tablita justify1">
            <table class="table table-striped">
              <thead>
                <tr>
                  {%block elementos%}
                  <th>ID celular</th>
                  <th>Nombre</th>
                  <th>Fabricante</th>
                  <th>Stock</th>
                  <th>Precio de compra</th>
                  <th>Precio de venta</th>
                  <th>Acciones</th>
                  {%endblock%}
                </tr>
              </thead>
              <tbody>
                {%if celulares%}
                {%for celular in celulares%}
                <tr>
                    <td>{{ celular.id_celular }}</td>
                    <td>{{ celular.nombre }}</td>
                    <td>{{ celular.fabricante }}</td>
                    <td>{{ celular.stock }}</td>
                    <td>{{ celular.precio_compra }}</td>
                    <td>{{ celular.precio_venta }}</td>
                    <td>
                      <a class="btn btn-primary" href="{% url 'inventario:actualizar' celular.id_celular %}">Editar</a>
                      <a class="btn btn-danger" href="{% url 'inventario:eliminar' celular.id_celular %}">Eliminar</a>
                    </td>
                </tr>
                {%endfor%}
                {%else%}
                <h1>No hay coincidencias de busqueda</h1>
                {%endif%}
              </tbody>
            </table>
          </div>
        </div>
    </form>



</section>
{%endblock%}
